alert("댓글이 등록됨");
$('#comment_body').val("");
$('#comment_table tbody').prepend('<tr id="<%= "comment-#{@c.id}" %>"><td><%= @c.body %></td><td><%= link_to "삭제", destory_comment_posts_path(@c.id), method: :delete, class: 'btn btn-warning delete_comment', id: @c.id, data: {confirm: "삭제하시겠습니까?"}, remote: true %></td></tr>');